@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }

  /* Hide scrollbar (keep scrolling) */
  html,
  body {
    scrollbar-width: none; /* Firefox */
  }
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }

  /* When a modal is open, don't scroll the page */
  html.modal-open,
  body.modal-open {
    overflow: hidden !important;
  }
}


